{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="center mt-2rem">
    <p class="text-130"><span class="text-dim italic">"One must imagine Sisyphus happy"</span> <span class="text-alert">| Albert Camus</span></p>
</div>
{% if landing_message %}
<div class="box landing-box">
    <div class="post-body">{{ landing_message }}</div>
</div>
{% endif %}
<div class="center mt-3rem">
    <p class="text-85 text-alert">Powered by Python</p>
</div>
{% endblock %}
