{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div style="text-align: center; margin-top: 2rem;">
    <p style="font-size: 1.3em;"><span style="color: var(--dim); font-style: italic;">"One must imagine Sisyphus happy"</span> <span style="color: red;">| Albert Camus</span></p>
</div>
{% if landing_message %}
<div class="box" style="max-width: 600px; margin: 2rem auto; text-align: left;">
    <div class="post-body">{{ landing_message }}</div>
</div>
{% endif %}
<div style="text-align: center; margin-top: 3rem;">
    <p style="font-size: 0.65em; color: var(--dim);">Powered by Python</p>
</div>
{% endblock %}
