{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="login-box">
    <pre role="img" aria-label="Sisyphus bulletin board system: a figure pushing a boulder up a hillside under the stars">{# login-art:begin #}{% raw %}    <span class="art-title">____   ___  ____  __   __ ____   _   _  _   _  ____</span>
   <span class="art-title">/ ___| |_ _|/ ___| \ \ / /|  _ \ | | | || | | |/ ___|</span>
   <span class="art-title">\___ \  | | \___ \  \ V / | |_) || |_| || | | |\___ \</span>
    <span class="art-title">___) | | |  ___) |  | |  |  __/ |  _  || |_| | ___) |</span>
   <span class="art-title">|____/ |___||____/   |_|  |_|    |_| |_| \___/ |____/</span>
         <span class="art-sub">b u l l e t i n   b o a r d   s y s t e m</span>

    <span class="art-star">*                                   </span><span class="art-stone">_..-------.._    </span><span class="art-star">.</span>
                 <span class="art-star">.                   </span><span class="art-stone">,-&#x27;             `-.</span>
                        <span class="art-star">*          </span><span class="art-stone">,&#x27;       .           `. </span><span class="art-star">*</span>
          <span class="art-star">.                       </span><span class="art-stone">/    &#x27;             ,    \</span>
                   <span class="art-star">.             </span><span class="art-stone">|                         |</span>
  <span class="art-star">.                         </span><span class="art-man">__   </span><span class="art-stone">|         ,               |</span>
                           <span class="art-man">(  )  </span><span class="art-stone">|  .                 &#x27;    |</span>
             <span class="art-star">.             </span><span class="art-man">_\/____</span><span class="art-stone">\                       /</span>
                          <span class="art-man">/ /----&#x27; </span><span class="art-stone">`.        &#x27;          ,&#x27;</span>
     <span class="art-star">*                   </span><span class="art-man">/ /         </span><span class="art-stone">`-._           _.-&#x27;</span>
                        <span class="art-man">/_/         </span><span class="art-hill">_.-&#x27; </span><span class="art-stone">`--.....--&#x27;</span>
         <span class="art-star">.              </span><span class="art-man">/ \     </span><span class="art-hill">_.-&#x27;</span>
                       <span class="art-man">/   \</span><span class="art-hill">_.-&#x27;</span>
                      <span class="art-man">/ </span><span class="art-hill">_.-</span><span class="art-man">|</span>
                    <span class="art-man">_/</span><span class="art-hill">-&#x27;</span>
                <span class="art-hill">_.-&#x27;</span>
            <span class="art-hill">_.-&#x27;</span>
        <span class="art-hill">_.-&#x27;</span>
    <span class="art-hill">_.-&#x27;</span>
<span class="art-hill">_.-&#x27;</span>{% endraw %}{# login-art:end #}</pre>

    {% if error %}
    <div class="error">{{ error }}</div>
    {% endif %}

    <div class="tabs">
        <button type="button" class="tab{% if not show_register %} active{% endif %}" data-tab="login">Login</button>
        <button type="button" class="tab{% if show_register %} active{% endif %}" data-tab="register">New User</button>
    </div>

    <div id="login-form"{% if show_register %} class="hidden"{% endif %}>
        <form method="post" action="/login">
            <input type="text" name="username" placeholder="Username" required autofocus>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
    </div>

    <div id="register-form"{% if not show_register %} class="hidden"{% endif %}>
        {% if invite_only %}
        <p class="meta">This board is invite-only. You need a code from the sysop.</p>
        {% endif %}
        <form method="post" action="/register">
            {% if invite_only or invite %}
            <input type="text" name="invite" placeholder="Invitation code" value="{{ invite }}" maxlength="64"{% if invite_only %} required{% endif %}>
            {% endif %}
            <input type="text" name="username" placeholder="Username" required minlength="2" maxlength="32">
            <input type="password" name="password" placeholder="Password" required minlength="8" maxlength="72">
            <input type="email" name="email" placeholder="Email (optional)">
            <button type="submit">Register</button>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/login.js?v={{ static_version }}" defer></script>
{% endblock %}
